{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <div class="container-fluid page mt-5 pt-5">
        <div class="row">
            <div class="col">
                <h3 class="text-uppercase text-white text-center mb-1 mt-4">Shopping Bag</h3>
                <hr class="w-25 bg-info text-info mt-1 mb-2">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col page">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-white">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr class="text-info">
                                    <td class="py-3 w-25 pl-0">
                                        <img src="{{ MEDIA_URL }}{{ item.product.image }}" class="img-fluid rounded">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0">Size: {{ item.product_size|upper }}</p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product_price|floatformat:2 }}</p>
                                    </td>
                                    <td class="py-3">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group mb-1">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-second"
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input type="number" class="form-control form-control-sm text-info-dark border-info qty_input"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-second"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product_price | calc_subtotal:item.quantity | floatformat:2 }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr class="text-white">
                                <td colspan="5" class="pt-5 text-right">
                                    <h6>Subtotal: £{{ total|floatformat:2 }}</h6>
                                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-warning">
                                            Spend <strong>£{{ free_delivery_delta|floatformat:2 }}</strong> more to get <strong>FREE</strong> delivery!
                                        </p>
                                    {% endif %}
                                    <hr class="w-25 bg-info text-info float-right mt-1 mb-2">
                                    <h4 class="mt-4"><strong>Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'collections' %}" class="btn btn-second btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Browse Collections</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn shop-now-button btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <div class="fas fa-lock"></div>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5 d-flex justify-content-center justify-content-lg-start">Your bag is empty.</p>
                    <a href="{% url 'collections' %}" class="btn shop-now-button btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Browse collections</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
    {% include 'products/includes/pricing_script.html' %}

    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        });

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('product_size');
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

            $.post(url, data)
             .done(function() {
                location.reload();
             });
        });
    </script>
{% endblock %}