{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid" id="background-image-home">
        <div class="row">
            <div id="browse" class="d-flex col justify-content-center align-self-end">
                <a href="{% url 'collections' %}" class="shop-now-button btn btn-lg py-3">browse collections now</a>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="about">
        <div class="row">
            <div class="col">
                <h3 class="text-uppercase text-white text-center mb-1 mt-3">About</h3>
                <hr class="bg-info text-info w-25 mt-1 mb-2">
            </div>
        </div>
        <div class="row pb-3">
            <div class="col text-center text-info">
                <h5 class="text-white text-uppercase py-2">Welcome to Picturesque!</h5>
                <p>Here we want your home or office to show off your artistic grandure and so we have a wonderful collection of photographs you can order as prints to delightfully decorate your space.</p>
                <p>All our photographs are printed onto aluminium base plates which can be fitted using magentic stickers which we send to you that do not mark or scuff walls!</p>
                <p>Worried about shiny? All our products have a slight sheen, but if you desire a very shiny print or the most matt version we have, just pop us an e-mail from our <a class="text-white" href="{% url 'contact' %}">contact page</a> and we can sort it all out for you. <small>(N.B. there may be additional costs involved)</small></p>
                <p>Click <a class="text-white" href="{% url 'contact' %}#FAQs">here</a> for all our FAQs.</p>
            </div>
        </div>
    </div>
{% endblock %}