{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid" id="background-image-home">
        <div class="row">
            <div id="browse" class="d-flex col justify-content-center align-self-end">
                <a href="" class="shop-now-button btn btn-lg py-3">browse collections now</a>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="about">
        <div class="row">
            <div class="col">
                <h2 class="text-uppercase text-white text-center">About</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}