{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid" id="background-image-home">
        <div class="row">
            <div id="browse" class="d-flex col justify-content-center align-self-end">
                <a href="" class="shop-now-button btn btn-lg py-3">browse all photos now</a>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="about">
        <div class="row">
            <div class="col">
                <h3 class="text-uppercase text-white text-center mb-1 mt-3">About</h3>
                <hr class="bg-info text-info w-25 mt-1 mb-2">
            </div>
        </div>
    </div>
{% endblock %}