/* --------------------------------------------- Page backgrounds and setup */
html {
    height: 100%;
}

body {
    color: #17a2b8;
    background-color: #003333;
    font-family: 'Ubuntu', sans-serif;
    height: calc(100vh - 104px);
}

#background-image-home {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

#browse {
    position: absolute;
    bottom: 1.5rem;
}

.page {
    min-height: calc(100vh - 127px);
}

/* --------------------------------------------- Header styling */
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}
.navbar-brand {
    margin-right: 0;
}

/* Search bar colour and size */
input[name='q']:focus,
input[name='q']:hover,
input[name='q']:active {
    color: #003333;
}

#search-bar {
    max-width: 80%;
}


/* --------------------------------------------- Contact page */
.textInput,
.textInput:focus,
.textInput:active,
.textInput:hover {
    background-color: #003333;
}

.textInput::placeholder {
    color: #17a2b8;
}

#message_content {
    height: 15rem;
}

/* Accordion styling */
.card-header {
    background-color: #003333;
    border-color: #17a2b8;
}

.card-body {
    background-color: #003333;
    color: #17a2b8;
}

.card .btn-link {
    color: #fff;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

/* --------------------------------------------- Custom Boostrap colour classes */
.bg-info-dark {
    background-color: #003333;
}

.text-info-dark {
    color: #003333 !important;
}

/* --------------------------------------------- Icons and buttons */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.shop-now-button,
.btn-second:hover,
.btn-second:active,
.btn-second:focus {
    background: white;
    color: #17a2b8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
}

.btn-second,
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #17a2b8;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
}

.badge {
    font-weight: 400;
    background: #17a2b8;
    color: white;
}

.badge:hover,
.badge:active,
.badge:focus {
    background: white;
    color: #003333;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.update-link:hover,
.remove-item:hover {
    text-decoration: none;
}

.image-fluid {
    width: auto;
    max-height: 270px;
    max-width: 100%;
}

.bag-notification-wrapper {
    max-height: 30vh;
    overflow: hidden;
    overflow-y: auto;
}

/* --------------------------------------------- Toasts */
.custom-toast {
    overflow: visible;
    background-color: #fff;
}

.toast-capper {
    height: 2px;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

/* --------------------------------------------- Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input,
.allauth-form-inner-content input:active,
.allauth-form-inner-content input:focus {
    border-color: #17a2b8;
    color: #fff;
    background-color: #003333;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #17a2b8;
}

.allauth-form-inner-content form {
    margin-top: 1rem;
}

.allauth-form-inner-content form .form-group {
    margin-bottom: 1rem;
}

/* from https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  border: 1px solid 17a2b8;
  -webkit-text-fill-color: #fff;
  box-shadow: 0 1px 1px 0 #cfd7df;
  -webkit-box-shadow: 0 0 0px 1000px #003333 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* --------------------------------------------- Media Queries */
/* Update titles for xxs screens */
@media (max-width: 281px) {
    h2 {
        font-size: 1.4rem !important;
    }
    
    #search-bar {
        width: 75%;
    }

    .page {
        font-size: x-small;
    }

    .collections-button {
        padding-top: .12rem;
        padding-bottom: .12rem;
    }

    #id_product_size {
        font-size: x-small;
    }

    .checkout-toast-button, 
    .delivery-toast-banner {
        font-size: small;
    }
}

@media (min-width: 282px) and (max-width: 389px) {
    h2 {
        font-size: 1.75rem !important;
    } /* h3 sizing */
}

@media (max-width: 390px) {
    h3 {
        font-size: 1.5rem !important;
    } /* h4 sizing */

    h4 {
        font-size: 1.25rem !important;
    } /* h5 styling */

    h5 {
        font-size: 1rem !important;
    } /* h6 sizing */

    .navbar-toggler-icon {
        height: 1.5rem;
    } 
}

/* Update search bar for large screens */
@media (min-width: 960px) and (max-width: 1140px) {
    #search-bar {
        max-width: 150px;
    }

    .search-button {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

/* Larger containers for xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* --------------------------------------------- Footer stying */
footer {
    height: 4rem;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.socials li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.socials li a i:hover {
    color: #003333;
}