/* Product form styling */
.admin-product-form input,
.admin-product-form select,
.admin-product-form textarea,
.admin-product-form input:focus,
.admin-product-form select:focus,
.admin-product-form textarea:focus,
.admin-product-form input:active,
.admin-product-form select:active,
.admin-product-form textarea:active {
    border: 1px solid #17a2b8;
    background-color: #003333;
}

.admin-product-form label {
    color: #fff;
}

#id_image {
    border-radius: .25rem;
    padding: 0.5rem;
}

.btn-file {
    position: relative;
    overflow: hidden;
    background-color: #003333;
    border-color: #17a2b8;
}

.btn-file:hover {
    background-color: #343a40;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
