<!-- Part of the bag template showing the quantity of the item, with the buttons to ajust the quantity -->
<!-- If you can get it to work, you can add in about the sizing adjustment part -->
<form class="form update-form container px-0" method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %}
    <div class="form-group mb-1 row">
        <div class="input-group">
            <!-- Quantity -->
            <div class="col-12 col-md-6 py-1">
                <div class="row pl-2">
                    <!-- Decrement the quantity in the bag -->
                    <div class="input-group-prepend col-2 pl-1 pr-0 d-flex justify-content-end">
                        <button class="decrement-qty btn btn-sm btn-second rounded-left"
                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                            <span>
                                <i class="fas fa-minus fa-sm"></i>
                            </span>
                        </button>
                    </div>
                    <!-- Show the quantity in the bag -->
                    <div class="col-8 px-0">
                    <input type="number" class="form-control form-control-sm text-info-dark border-info qty_input"
                        name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                        id="id_qty_{{ item.item_id }}">
                    </div>
                    <!-- Increment the quantity in the bag -->
                    <div class="input-group-append col-2 px-0">
                        <button class="increment-qty btn btn-sm btn-second rounded-right"
                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                            <span>
                                <i class="fas fa-plus fa-sm"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Size -->
            <div class="input-group-size col-10 offset-1 px-4 px-md-0 col-md-5offset-md-0 py-1 mx-md-1 col-lg-6 mx-lg-0">
                <select class="form-control form-control-sm text-info-dark border-info rounded size_input mx-1"
                    id="id_size_{{ item.item_id }}">
                    {% for size in prices %}
                        {% if size == item.product_size %}
                            <option class="old_size" value="{{ size }}" selected>{{ size|upper }}</option>
                        {% else %}
                            <option value="{{ size }}">{{ size|upper }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="hidden" name="old_product_size" class="old_product_size" value="{{ item.product_size }}">
                <input type="hidden" name="product_size" value="{{ item.product_size }}">
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-4 offset-1">
        <!-- Button to update any modifications to the bag -->
        <a class="update-link text-info"><small>Update</small></a>
    </div>
    <div class="col-6 ml-3">
        <!-- Button to remove this item from the bag -->
        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.product_size }}"><small>Remove</small></a>
    </div>
</div>