<script type="text/javascript">
    // Change the size of the product when clicked
    $('.input-group-size').change(function(e) {
        e.preventDefault();
        // Prevent the button being pressed whilst processing
        var chosenSize = $(this).find('.size_input').val();
        var oldSize = $('[name=old_product_size]').attr('value');
        var newSize = oldSize.concat('_').concat(chosenSize);

        // Update the bag value to have both old and new values
        $(this).find('input[name=product_size]').attr('value', newSize);
    });
</script>