{% extends "base.html" %}

{% block content %}
    <div class="container-fluid page mt-5 pt-5">
        <div class="row">
            <div class="col">
                <h3 class="text-uppercase text-white text-center mb-1 mt-4">Contact</h3>
                <hr class="w-50 bg-info text-info mt-1 mb-2">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-uppercase text-white text-center mb-1 mt-4">Send Us An E-mail</h4>
                <hr class="w-25 bg-info text-info mt-1 mb-2">
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-4 col-xl-10 offset-xl-1">                
                <form action="{% url 'contact' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <div class="py-2">
                        <label for="name" class="px-1 text-white requiredField">
                            Name<span class="asteriskField">*</span>
                        </label>
                        <input type="text" name="name" id="name" placeholder="Your name" required class="textinput textInput form-control bg-info-dark border-info text-white">
                    </div>
                    <div class="py-2">
                        <label for="email" class="px-1 text-white requiredField">
                            E-mail Address<span class="asteriskField">*</span>
                        </label>
                        <input type="email" name="email" id="email" placeholder="Your e-mail address" autocomplete="email" required class="textinput textInput form-control bg-info-dark border-info text-white">
                    </div>
                    <div class="py-2">
                        <label for="subject" class="px-1 text-white requiredField">
                            E-mail Subject<span class="asteriskField">*</span>
                        </label>
                        <input type="text" name="subject" id="subject" placeholder="Subject of the e-mail" required class="textinput textInput form-control bg-info-dark border-info text-white">
                    </div>
                    <div class="py-2">
                        <label for="message_content" class="px-1 text-white requiredField">
                            Message<span class="asteriskField">*</span>
                        </label>
                        <textarea name="message_content" id="message_content" placeholder="Your message to Picturesque" required class="textinput textInput form-control bg-info-dark border-info text-white"></textarea>
                    </div>
                    <div class="my-3 text-center">
                        <button class="btn btn-lg shop-now-button" id="submit-button" type="submit">
                            <span class="font-weight-bold">Send E-mail</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4 class="text-uppercase text-white text-center mb-1 mt-4">FAQs</h4>
                <hr class="w-25 bg-info text-info mt-1 mb-2">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 px-4 pb-4 col-xl-10 offset-xl-1">
                <div id="accordion" class="text-center">
                    <div class="card border-info my-2">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Materials Information
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                All the prints available to purchase are printed onto aluminium using the latest high-tech methods. The prints will not appear shiny and have a matt appearance. We only provide the best quality products and if you are not happy with your purchase, please send us an e-mail to arrange a refund or exchange.
                            </div>
                        </div>
                    </div>
                    <div class="card border-info  my-2">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How To Hang Your Print
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                All the prints come with two magnetic pads for the two top corners. These can be stuck to walls and should not be damaging to upholstery unless left for more than 2 years. The magnetic pads can be placed at the best place for your surfaces, however we advise you use the pads on the top two corners for maximising the security of the fastenings.
                            </div>
                        </div>
                    </div>
                    <div class="card border-info my-2">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Delivery Information
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Delivery is based at rates for the UK only. Shipping to overseas destinations will unfortunately cost more. Once confirmed, the order should take 5 - 7 working days to be delivered using our courier service. If you are unhappy with your purchase, please e-mail to discuss any returns or refunds.
                            </div>
                        </div>
                    </div>
                    <div class="card border-info my-2">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Returns Policy
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                We hope that you enjoy your purchase, however sometimes what can look nice on a computer screen can be wrong for our homes or offices, or maybe the wrong size was ordered. No worries, just send us an e-mail from the form above to begin a discussion about returning, refunding or exchanging any prints you are unhappy with. Returns postage is not covered by Picturesque, but exchange deliveries will be free of charge.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
{% endblock %}