{% extends "base.html" %}

{% block content %}
    <div class="container-fluid page mt-5 pt-5">
        <div class="row">
            <div class="col">
                <h3 class="text-uppercase text-white text-center mb-1 mt-4">Product Management</h3>
                <hr class="w-50 bg-info text-info mt-1 mb-2">
                <h4 class="text-uppercase text-white text-center mb-1 mt-4">Add a Product</h4>
                <hr class="w-25 bg-info text-info mt-1 mb-2">
            </div>
        </div>
        <div class="row mt-3 page">
            <div class="col">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a href="{% url 'collections' %}" class="btn btn-second">Cancel</a>
                        <button class="btn shop-now-button" type="submit">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}