{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid mt-5 pt-5">
        <div class="row">
            <div class="col">
                <!-- Page title -->
                <h3 class="text-uppercase text-white text-center mb-1 mt-4">Collections</h3>
                <hr class="w-25 bg-info text-info  mt-1 mb-2">
            </div>
        </div>

        <!-- Display 6 categories for the user to select: All photos, Architecture, Castles, Vehicles, Nature, Landscapes -->
        <div class="row page product-container pt-3 pb-1">
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card bg-info-dark py-1 border-0 align-items-center">
                    <a href="{% url 'products' %}?category=architecture,castles,vehicles,landscapes,nature">
                        <img src="{{ MEDIA_URL }}{{ all }}" alt="" class="card-img-top image-fluid">
                    </a>
                    <div class="card-body mt-2 py-2 text-white" href="{% url 'products' %}?category=architecture,castles,vehicles,landscapes,nature">
                        <h4 class="mb-0 text-uppercase">All photographs</h4>
                    </div>
                    <div class="card-footer bg-info-dark border-0 py-0">
                        <div class="row">
                            <hr class="bg-info w-100">
                        </div>
                    </div>
                </div>                        
            </div>
            {% for category in categories %}
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="card bg-info-dark py-1 border-0 align-items-center">
                        <a href="{% url 'products' %}?category={{ category.name }}">
                            <img src="{{ MEDIA_URL }}{{ category.category_image }}" alt="{{ category.name }}" class="card-img-top image-fluid">
                        </a>
                        <div class="card-body mt-2 py-2">
                            <h4 class="mb-0 text-uppercase text-white">{{ category.name }}</h4>
                        </div>
                        <div class="card-footer bg-info-dark border-0 py-0">
                            <div class="row">
                                <hr class="bg-info w-100">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}